/* =-=-=-=-=-=-=-=-=-= PHOTOGRAPHY GALLERY =-=-=-=-=-=-=-=-=-= */

.photo{
    margin: 1rem;
    height:525px;
    width: 400px;
    border-radius: 40px;
    /* background-image: url('images/pic2.jpg'); */
    background-size: cover;
    position: relative;
    --photo-url: url('');
    background-image: var(--photo-url);
    color: #ffffff;
    cursor: pointer;
    

  }

  .photo:hover{
    transition: all 0.3s ease;
    background-image:  linear-gradient( to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,1) 100%), var(--photo-url);
  }

  .photo:nth-child(1) {
    --photo-url: url('images/pic2.jpg');
    
  }
  .photo:nth-child(2) {
    --photo-url: url('images/mami fan.jpg');
  }
  .photo:nth-child(3) {
    --photo-url: url('images/lucy fog.jpg');
    
  }
  .photo:nth-child(4) {
    --photo-url: url('images/kayci arms up.jpg');
    
  }
  .photo:nth-child(5) {
    --photo-url: url('images/man london.jpg');
    
  }
  .photo:nth-child(6) {
    --photo-url: url('images/red under.jpg');
    
  }
  .photo:nth-child(7) {
    --photo-url: url('images/tate spiral.jpg');
    
  }
  .photo:nth-child(8) {
    --photo-url:url('images/irem.jpg');
    
  }

.photo .description{
    opacity: 0;
    position:absolute;
    margin-left: 5px;
    margin-right: 5px;
    top: 400px;
    
    transition: all 0.3s ease-in;
  }

  .photo:hover .description{
    opacity: 1;
  }


  /* =-=-=-=-=-=-=-=-=-= GRAPHICS GALLERY =-=-=-=-=-=-=-=-=-= */

  .graphics{
    margin: 1rem;
    height:525px;
    width: 400px;
    border-radius: 40px;
    /* background-image: url('images/pic2.jpg'); */
    background-size: cover;
    position: relative;
    --graphics-url: url('');
    background-image: var(--graphics-url);
    color: #ffffff;
    

  }

  .graphics:hover{
    transition: all 0.3s ease;
    background-image:  linear-gradient( to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,1) 100%), var(--graphics-url);
  }

  .graphics:nth-child(1) {
    --graphics-url: url('images/el\ turpial.jpg');
    
  }
  .graphics:nth-child(2) {
    --graphics-url: url('graphics images/book\ cover.jpg');
  }
  .graphics:nth-child(3) {
    --graphics-url: url('graphics images//turpial menu.jpg');
    
  }
  .graphics:nth-child(4) {
    --graphics-url: url('graphics images/round\ turpial.jpg');
    
  }
  .graphics:nth-child(5) {
    --graphics-url: url('graphics images/3d\ underground.jpg');
    
  }
  .graphics:nth-child(6) {
    --graphics-url: url('graphics images/use\ tfl\ now.jpg');
    
  }
  .graphics:nth-child(7) {
    --graphics-url: url('graphics images/caribbean.jpg');
    
  }
  .graphics:nth-child(8) {
    --graphics-url:url('graphics images/volleybal\ .jpg');
    
  }

.graphics .description{
    opacity: 0;
    position:absolute;
    margin-left: 5px;
    margin-right: 5px;
    top: 400px;
    
    transition: all 0.3s ease-in;
  }

  .graphics:hover .description{
    opacity: 1;
  }

  

  /* =-=-=-=-=-=-=-=-=-= LIFE DRAWING GALLERY =-=-=-=-=-=-=-=-=-= */

  .life{
    margin: 1rem;
    height:525px;
    width: 400px;
    border-radius: 40px;
    /* background-image: url('images/pic2.jpg'); */
    background-size: cover;
    position: relative;
    --art-url: url('');
    background-image: var(--art-url);
    color: #ffffff;
    

  }

  .life:hover{
    transition: all 0.3s ease;
    background-image:  linear-gradient( to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,1) 100%), var(--art-url);
  }

  .life:nth-child(1) {
    --art-url: url('life images/back life drawing.jpg');
    
  }
  .life:nth-child(2) {
    --art-url: url('life images/greek life drawing.jpg');
  }
  .life:nth-child(3) {
    --art-url: url('life images/sat life drawing.jpg');
    
  }
  .life:nth-child(4) {
    --art-url: url('life images/statue\ life.jpg');
    
  }
  .life:nth-child(5) {
    --art-url: url('life images/life\ man.jpg');
    
  }
  .life:nth-child(6) {
    --art-url: url('images/life\ drawing\ ballet.jpg');
    
  }
  .life:nth-child(7) {
    --art-url: url('life images/blue\ life.jpg');
    
  }
  .life:nth-child(8) {
    --art-url:url('3d art images/well\ unfinished.jpg');
    
  }

.life .description{
    opacity: 0;
    position:absolute;
    margin-left: 5px;
    margin-right: 5px;
    top: 400px;
    
    transition: all 0.3s ease-in;
  }

  .life:hover .description{
    opacity: 1;
  }
  /* =-=-=-=-=-=-=-=-=-= 3D GALLERY =-=-=-=-=-=-=-=-=-= */

  .art{
    margin: 1rem;
    height:525px;
    width: 400px;
    border-radius: 40px;
    /* background-image: url('images/pic2.jpg'); */
    background-size: cover;
    position: relative;
    --art-url: url('');
    background-image: var(--art-url);
    color: #ffffff;
    

  }

  .art:hover{
    transition: all 0.3s ease;
    background-image:  linear-gradient( to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,1) 100%), var(--art-url);
  }

  .art:nth-child(1) {
    --art-url: url('3d art images/mushroom\ .jpg');
    
  }
  .art:nth-child(2) {
    --art-url: url('3d art images/gif\ cup.gif');
  }
  .art:nth-child(3) {
    --art-url: url('3d art images/body\ clay.jpg');
    
  }
  .art:nth-child(4) {
    --art-url: url('3d art images/top\ constructivism.jpg');
    
  }
  .art:nth-child(5) {
    --art-url: url('3d art images/venus\ of\ wilendorf.jpg');
    
  }
  .art:nth-child(6) {
    --art-url: url('3d art images/the\ bar.jpg');
    
  }
  .art:nth-child(7) {
    --art-url: url('art/clay\ character.jpg');
    
  }
  .art:nth-child(8) {
    --art-url:url('3d art images/well\ unfinished.jpg');
    
  }

.art .description{
    opacity: 0;
    position:absolute;
    margin-left: 5px;
    margin-right: 5px;
    top: 400px;
    
    transition: all 0.3s ease-in;
  }

  .art:hover .description{
    opacity: 1;
  }

  /* ART GALLERY */

  .extra{
    margin: 1rem;
    height:525px;
    width: 400px;
    border-radius: 40px;
    /* background-image: url('images/pic2.jpg'); */
    background-size: cover;
    position: relative;
    --art-url: url('');
    background-image: var(--art-url);
    color: #ffffff;
    

  }

  .extra:hover{
    transition: all 0.3s ease;
    background-image:  linear-gradient( to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,1) 100%), var(--art-url);
  }

  .extra:nth-child(1) {
    --art-url: url('art/avatar\ kayci.png');
    
  }
  .extra:nth-child(2) {
    --art-url: url('art/donald\ duck\ \(1\).png');
  }
  .extra:nth-child(3) {
    --art-url: url('art/abstract\ drawing.png');
    
  }
  .extra:nth-child(4) {
    --art-url: url('3d art images/sonic.jpg');
    
  }
  .extra:nth-child(5) {
    --art-url: url('3d art images/mirabel.jpg');
    
  }
  .extra:nth-child(6) {
    --art-url: url('3d art images/avatar gang.jpg');
    
  }
  .extra:nth-child(7) {
    --art-url: url('art/aang.jpg');
    
  }
  .extra:nth-child(8) {
    --art-url:url('art/ekko.jpg');
    
  }

.extra .description{
    opacity: 0;
    position:absolute;
    margin-left: 5px;
    margin-right: 5px;
    top: 400px;
    
    transition: all 0.3s ease-in;
  }

  .extra:hover .description{
    opacity: 1;
  }

  /* POP UP */

  .images-preview{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
  }

  .images-preview img{
    max-height:70vh;
  }

  .images-preview span{
    opacity: 1;
    font-size: 3.5rem;
    color: #ffffff;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow:  0px 0px 15px rgba(0, 0, 0, 0.95);;

  }

  .images-preview span:hover{
    transform: rotate(90deg);
  }

  .images-preview .preview{
    display: none;
    /* padding: 2rem; */
    /* text-align: center; */
    position: relative;
    max-width: 90%;
    max-height: 100vh;
    /* margin: 2rem; */
    /* width: fit-content; */
    /* overflow: hidden; */

  }

  .images-preview .preview.active{
    display: inline-block;
  }

  /* .images-preview span{
    position: relative;
    size: 30rem;
  } */

  /* .images-preview .preview.active:hover span{
    opacity: 1;
    transition: all 0.3s ease-in-out;
  } */